{% extends 'template.html' %}
{% block content %}

<div class="container text-center">
    <div class="row" style="padding: 3%;">
        <h1>Tecnologías Chapinas S.A.</h1>
    </div>

    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}

    <div class="row">
        <div class="col" style="padding: 3%;">
            <h3>Subir configuración</h3>
            <form method="POST" action="{% url 'index' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="file" id="configuracion"
                    type="file" name="configuracion_file"
                    accept=".xml">
                <button type="submit"
                    class="btn btn-primary" style="margin: 2%;">Enviar</button>
            </form>
        </div>
        <div class="col" style="padding: 3%;">
            <h3>Subir consumo</h3>
            <form method="POST" action="{% url 'index' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="file" id="consumo"
                    type="file" name="consumo_file"
                    accept=".xml">
                <button type="submit"
                    class="btn btn-primary" style="margin: 2%;">Enviar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}